{% extends 'includes/base.html' %} {% block content %} {% load static %}

<div
  class="block-feature-twelve position-relative pt-150 lg-pt-80 pb-180 lg-pb-80"
>
  <div class="container">
    <div class="row gx-xl-5">
      {% include 'components/base/user-pane.html' %}
    </div>
  </div>
  <img
    src="{% static 'assets/images/lazy.svg' %}"
    data-src="{% static 'assets/images/shape/shape_45.svg' %}"
    alt=""
    class="lazy-img shapes shape_01"
  />

  <div class="team-details light-bg border-top pt-20 lg-pt-80">
    <div class="container">
      <div class="bg-wrapper">
        <div class="row">
          <div class="col-12">
            <div
              class="member-img m-auto p-5 justify-content-center text-center"
            >
              <h3>Payment History</h3>
              <table class="table p-3">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
