{% extends 'includes/base.html' %} {% block content %} {% load static %}

<div
  class="block-feature-twelve position-relative pt-150 lg-pt-80 pb-180 lg-pb-80"
>
  <div class="container">
    <div class="row gx-xl-5">
      {% include 'components/base/user-pane.html' %}
      <div class="col-lg-4 d-flex mt-40 md-mt-20">
        <div class="card-style-two bg-white vstack tran3s w-100">
          <div class="accordion accordion-style-two mt-15" id="accordionOne">
            <div class="accordion-item">
              <h5 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  <span style="font-size: 24px"> Subscription </span>
                </button>
              </h5>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionOne"
              >
                <div class="accordion-body">
                  <div class="row">
                    <a href="contact.html" class="btn-nineteen tran3s mt-10">
                      API Key
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-style-two -->
      </div>
    </div>
  </div>
  <img
    src="{% static 'assets/images/lazy.svg' %}"
    data-src="{% static 'assets/images/shape/shape_45.svg' %}"
    alt=""
    class="lazy-img shapes shape_01"
  />

  <div class="pricing-section light-bg border-top mt-40 pb-150 lg-pb-80">
    <div class="container">
      <div class="row gx-xl-5">
        <div class="col-lg-4 col-sm-12 col-md-6 mb-65 md-mb-30">
          <div
            class="pricing-card-one d-flex flex-column w-100 h-100 text-center"
          >
            <h2 class="fw-bold">
              Free <small class="fw-500"><i class="bi bi-person"></i></small>
            </h2>

            <div class="action-btn btn btn-success text-center">
              <a href="../register?plan=basic" class="text-white">
                Get API Key
                <i class="bi bi-chevron-right"></i>
              </a>
            </div>
            <div class="row">
              <div class="col-xxl-9 m-auto">
                <p>
                  <b>60</b> calls/minute <br />
                  <b>1,000</b> calls/month
                </p>
              </div>
            </div>
            <div
              class="price-banner text-lg-start d-lg-flex justify-content-center align-items-center"
            >
              <div class="price mx-2">£0.00</div>
            </div>
          </div>
          <!-- /.pricing-card-one -->
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6 mb-65 md-mb-30">
          <div
            class="pricing-card-one d-flex flex-column w-100 h-100 text-center"
          >
            <h2 class="fw-bold">
              Professional
              <small class="fw-500"><i class="bi bi-person-check"></i></small>
            </h2>
            <div class="action-btn btn btn-warning text-center">
              <a href="../register?plan=professional" class="text-dark">
                Suscribe
                <i class="bi bi-chevron-right"></i>
              </a>
            </div>
            <div class="row">
              <div class="col-xxl-9 m-auto">
                <p>
                  <b>30,000</b> calls/minute <br />
                  <b>1,000,000,000</b> calls/month
                </p>
              </div>
            </div>
            <div
              class="price-banner text-lg-start d-lg-flex justify-content-center align-items-center"
            >
              <div class="price mx-2">£119.99</div>
              <b><sub>/month</sub></b>
            </div>
          </div>
          <!-- /.pricing-card-one -->
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6 mb-65 md-mb-30">
          <div
            class="pricing-card-one d-flex flex-column w-100 h-100 text-center"
          >
            <h2 class="fw-bold">
              Enterprise
              <small class="fw-500"><i class="bi bi-buildings"></i></small>
            </h2>
            <div class="action-btn btn btn-danger text-center">
              <a href="../register?plan=enterprise" class="text-white">
                Suscribe
                <i class="bi bi-chevron-right"></i>
              </a>
            </div>
            <div class="row">
              <div class="col-xxl-9 m-auto">
                <p>
                  <b>300,000</b> calls/minute <br />
                  <b>5,000,000,000</b> calls/month
                </p>
              </div>
            </div>
            <div
              class="price-banner text-lg-start d-lg-flex justify-content-center align-items-center"
            >
              <div class="price mx-2">£499.99</div>
              <b><sub>/month</sub></b>
            </div>
          </div>
          <!-- /.pricing-card-one -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
