{% extends 'includes/base.html' %} {% block content %} {% load static %}


  <div class="block-feature-twelve position-relative pt-150 lg-pt-80 pb-180 lg-pb-80">
			<div class="container">
				<div class="row gx-xl-5">
					<div class="col-lg-8 d-flex mt-40 md-mt-20">
						<div class="card-style-eighteen position-relative">
							<div class="row h-100">
								<div class="col-lg-4 order-lg-last">
									<div class="pt-45">
										<div class="icon rounded-circle d-flex align-items-center justify-content-center"><img src="{% static 'assets/images/lazy.svg' %}" data-src="{% static 'assets/images/icon/icon_97.svg' %}" alt="" class="lazy-img"></div>
										<h6>{{user_data.first_name}} {{user_data.last_name}}  <br>
                      <span>{{user_data.email}}</span>
                    </h6>
									</div>
								</div>
								<div class="col-lg-8 d-flex justify-content-center order-lg-first">
									<h2 style="font-family: 'ClashDisplay'" class="mb-2 text-white p-4">{{user_data.first_name}}'s Dashboard</h2>
								</div>
							</div>
						</div>
						<!-- /.card-style-eighteen -->
					</div>
					<div class="col-lg-4 d-flex mt-40 md-mt-20">
						<div class="card-style-two bg-white vstack tran3s w-100">
              <div class="d-flex flex-wrap">
								<a href="contact.html" class="btn-eighteen me-4 mt-10"> Services</a>
								<a href="contact.html" class="btn-nineteen mt-10"><small>API Key</small></a>
							</div>
							<img src="{% static 'assets/images/lazy.svg' %}" data-src="{% static 'assets/images/icon/icon_10.svg' %}" alt="" class="lazy-img icon2 me-auto">
							<h4 class="fw-bold mt-20 mb-25">Current Subscription Plan</h4>
							<!-- <p class="mb-20">Optimize expense tracking across platforms, & product lines using multiple cards.</p> -->
							<a href="service-details.html" class="arrow-btn tran3s mt-auto stretched-link"><img src="{% static 'assets/images/lazy.svg' %}" data-src="{% static 'assets/images/icon/icon_09.svg' %}" alt="" class="lazy-img"></a>
						</div>
						<!-- /.card-style-two -->
					</div>
					<div class="col-lg-4 d-flex mt-40 md-mt-20">
						<div class="card-style-two bg-white vstack tran3s w-100">
							<img src="{% static 'assets/images/lazy.svg' %}" data-src="{% static 'assets/images/icon/icon_11.svg' %}" alt="" class="lazy-img icon2 me-auto">
							<h4 class="fw-bold mt-50 mb-25">Our Vision</h4>
							<p class="mb-20">Elit esse cillum dolore eui fugiat nulla pariatur.</p>
							<a href="service-details.html" class="arrow-btn tran3s mt-auto stretched-link"><img src="{% static 'assets/images/lazy.svg' %}" data-src="{% static 'assets/images/icon/icon_09.svg' %}" alt="" class="lazy-img"></a>
						</div>
						<!-- /.card-style-two -->
					</div>
					<div class="col-lg-8 d-flex mt-40 md-mt-20">
						<div class="card-style-nineteen">
							<div class="row">
								<div class="col-lg-7">
									<h2 class="color-deep fw-bold mt-20">We’r Babun</h2>
									<p class="text-md mt-30 lg-mt-20 mb-35">Your success is our mission. As business advisors, we offer expert guidance, unlocking your potential</p>
									<a href="service-v2.html" class="btn-seven d-inline-flex align-items-center">
										<span class="text">Learn More</span>
										<div class="icon tran3s rounded-circle d-flex align-items-center"><img src="{% static 'assets/images/lazy.svg' %}" data-src="{% static 'assets/images/icon/icon_27.svg' %}" alt="" class="lazy-img"></i></div>
									</a>
								</div>
								<div class="col-lg-4 ms-auto">
									<div class="counter-block-one md-mt-40">
										<div class="main-count fw-bold"><span class="counter">710</span>k+</div>
										<p class="m0">Successful Projects</p>
									</div>
									<div class="counter-block-one mt-60 md-mt-20">
										<div class="main-count fw-bold"><span class="counter">1.2</span>x</div>
										<p class="m0">Rapid wealth grow</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /.card-style-nineteen -->
					</div>
				</div>

			</div>
			<img src="{% static 'assets/images/lazy.svg' %}" data-src="{% static 'assets/images/shape/shape_45.svg' %}" alt="" class="lazy-img shapes shape_01">
	</div>
  
{% endblock %}
