{% extends 'includes/base.html' %} {% block content %} {% load static %}

<div class="container position-relative">
  <div class="row align-items-center pt-150">
    <div class="col-12">{% include 'user-dashboard/base/dash-nav.html' %}</div>
  </div>
</div>

<div class="contact-us-section pt-150 lg-pt-80">
  <div class="container">
    <div class="position-relative">
      <div class="row">
        <div class="col-12 m-auto">
          <div class="row">
            <div class="col-md-4">
              <div class="address-block-one text-center mb-40 wow fadeInUp">
                <div
                  class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"
                >
                  <img
                    src="{% static 'assets/images/lazy.svg' %}"
                    data-src="{% static 'assets/images/icon/icon_90.svg' %}"
                    alt=""
                    class="lazy-img"
                  />
                </div>
                <h5 class="title">Our Address</h5>
                <p>{{site_info.address}}</p>
              </div>
              <!-- /.address-block-one -->
            </div>
            <div class="col-md-4">
              <div class="address-block-one text-center mb-40 wow fadeInUp">
                <div
                  class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"
                >
                  <img
                    src="{% static 'assets/images/lazy.svg' %}"
                    data-src="{% static 'assets/images/icon/icon_91.svg' %}"
                    alt=""
                    class="lazy-img"
                  />
                </div>
                <h5 class="title">Contact Info</h5>
                <p>
                  Open a chat or give us call at <br /><a
                    href="tel:{{site_info.contact.phone}}"
                    class="call text-lg fw-500"
                    >{{site_info.contact.phone}}</a
                  >
                </p>
              </div>
              <!-- /.address-block-one -->
            </div>
            <div class="col-md-4">
              <div class="address-block-one text-center mb-40 wow fadeInUp">
                <div
                  class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"
                >
                  <img
                    src="{% static 'assets/images/lazy.svg' %}"
                    data-src="{% static 'assets/images/icon/icon_92.svg' %}"
                    alt=""
                    class="lazy-img"
                  />
                </div>
                <h5 class="title">Live Support</h5>
                <p>
                  live chat service <br /><a href="#" class="webaddress"
                    >{{site_info.contact.email}}</a
                  >
                </p>
              </div>
              <!-- /.address-block-one -->
            </div>
          </div>
        </div>
      </div>

      <div class="bg-wrapper light-bg mt-80 lg-mt-40">
        <div class="row">
          <div class="col-lg-5">
            <div class="d-flex flex-column flex-lg-column-reverse">
              <div class="row">
                <div class="col-md-8 col-6 me-auto ms-auto">
                  <img
                    src="{% static 'assets/images/lazy.svg' %}"
                    data-src="{% static 'assets/images/assets/ils_07.svg' %}"
                    alt=""
                    class="lazy-img me-auto ms-auto"
                  />
                </div>
              </div>
              <div
                class="title-one text-center text-lg-start md-mt-20 mb-70 md-mb-30"
              >
                <h2>Have inquiries? Reach out via message</h2>
              </div>
              <!-- /.title-one -->
            </div>
          </div>
          <div class="col-lg-7">
            <div class="form-style-one ps-xl-5">
              <form>
                <div class="messages"></div>
                <div class="row controls">
                  <div class="col-12">
                    <div class="input-group-meta form-group mb-30">
                      <label for="">Name*</label>
                      <input
                        type="text"
                        placeholder="Your Name*"
                        name="name"
                        required="required"
                        data-error="Name is required."
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group-meta form-group mb-40">
                      <label for="">Email*</label>
                      <input
                        type="email"
                        placeholder="Email Address*"
                        name="email"
                        required="required"
                        data-error="Valid email is required."
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group-meta form-group mb-35">
                      <textarea
                        placeholder="Your message*"
                        name="message"
                        required="required"
                        data-error="Please,leave us a message."
                      ></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn-four tran3s w-100 d-block">
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.form-style-one -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
