{% extends 'includes/base.html' %} {% block content %} {% load static %}

<div
  class="block-feature-twelve position-relative pt-150 lg-pt-80 pb-180 lg-pb-80"
>
  <div class="container">
    <div class="row gx-xl-5">
      {% include 'components/base/user-pane.html' %}
      <div class="col-lg-4 d-flex mt-40 md-mt-20">
        <div class="card-style-two bg-white vstack tran3s w-100">
          <div class="accordion accordion-style-two mt-15" id="accordionOne">
            <div class="accordion-item">
              <h5 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  <span style="font-size: 24px"> Subscription </span>
                </button>
              </h5>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionOne"
              >
                <div class="accordion-body">
                  <div class="row">
                    <a href="contact.html" class="btn-nineteen tran3s mt-10">
                      API Key
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-style-two -->
      </div>
    </div>
  </div>
  <img
    src="{% static 'assets/images/lazy.svg' %}"
    data-src="{% static 'assets/images/shape/shape_45.svg' %}"
    alt=""
    class="lazy-img shapes shape_01"
  />

  <div class="team-details light-bg border-top pt-20 lg-pt-80">
    <div class="container">
      <div class="bg-wrapper">
        <div class="row">
          <div class="col-lg-4">
            <div class="member-img m-auto justify-content-center text-center">
              <i
                style="font-size: 150px; color: rgb(236, 235, 235)"
                class="bi bi-person-vcard-fill me-auto"
              ></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="pt-45 pb-45 ps-xl-4 ps-lg-0 ps-3 pe-xl-4 pe-lg-3 pe-3 border-right"
            >
              <h2 class="name fw-bold">
                {{user_data.first_name|title}} {{user_data.last_name|title}}
              </h2>
              <div class="post">
                {{site_info.title}} API {{user_data.user_role|title}}
                <small>
                  {% if not user_data.is_active %}
                  <span style="color: red">(Deactivated)</span>
                  {% else %}
                  <span style="color: green">(Active)</span>
                  {% endif %}
                </small>
              </div>
              <hr />
              <table class="w-100 lg-mt-20">
                <tr>
                  <td>Role:</td>
                  <td>{{user_data.user_role|title}}</td>
                </tr>

                <tr>
                  <td>Email:</td>
                  <td>
                    {{user_data.email|lower}}
                    <p>
                      <sub>
                        {% if not user_data.is_verified %}
                        <span style="color: red">Not Verified</span>
                        {% else %}
                        <span style="color: green">Verified</span>
                        {% endif %}
                      </sub>
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="pt-45 pb-45 ps-xl-4 ps-lg-0 ps-3 pe-xl-4 pe-lg-0 pe-3">
              <h3>Details</h3>

              <div class="social-share pt-35">
                <ul class="style-none d-flex align-items-center">
                  <li>
                    <a href="#">
                      <i class="bi bi-pencil-fill"></i>
                      Update Account Information
                    </a>
                  </li>
                </ul>
                <ul class="style-none d-flex align-items-center">
                  <li>
                    <a href="#">
                      <i class="bi bi-fingerprint"></i>
                      Change Password
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
