{% load static %}
<div class="faq-section-two position-relative mt-180 lg-mt-100 pb-150 lg-pb-80">
  <div class="container">
    <div class="position-relative">
      <div class="title-one mb-40">
        <h2>Our Successful Projects.</h2>
        <p class="text-lg pt-15 lg-pt-10">
          See some of our client success story in details.
        </p>
      </div>
      <!-- /.title-one -->
      <div class="row">
        <div class="col-12">
          <div class="accordion accordion-style-two mt-15" id="accordionOne">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  1. The Criminal Mind Analysis & Results
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionOne"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h6>Aproach</h6>
                      <p class="mb-50">
                        Consultants specializing in strategy support
                        organizations in achieving competitive excellence
                        through deliberate.
                      </p>
                      <h6>FINAL results</h6>
                      <ul class="style-none pt-20 pb-30">
                        <li>Expanded investment via Innovative Solutions.</li>
                        <li>
                          Improving risk management with advanced analytics.
                        </li>
                        <li>Grow profit, enhanced clients satisfaction.</li>
                      </ul>
                      <a
                        href="project-details-v1.html"
                        class="btn-eight icon-link"
                      >
                        <span class="text">Full Case Study</span>
                        <div
                          class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
                        >
                          <i class="bi bi-arrow-right"></i>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-6 d-flex">
                      <div
                        class="media-wrapper ms-auto me-auto w-100 d-flex align-items-center justify-content-center position-relative"
                        style="background-image: url(images/media/img_01.jpg)"
                      >
                        <a
                          class="fancybox rounded-circle video-icon tran3s text-center d-flex align-items-center justify-content-center"
                          data-fancybox=""
                          href="#"
                        >
                          <img
                            src="{% static 'assets/images/icon/icon_29.svg' %}"
                            alt=""
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  2. Invest the saving fund in proper way to get healthy return.
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionOne"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h6>Aproach</h6>
                      <p class="mb-50">
                        Consultants specializing in strategy support
                        organizations in achieving competitive excellence
                        through deliberate.
                      </p>
                      <h6>FINAL results</h6>
                      <ul class="style-none pt-20 pb-30">
                        <li>Expanded investment via Innovative Solutions.</li>
                        <li>
                          Improving risk management with advanced analytics.
                        </li>
                        <li>Grow profit, enhanced clients satisfaction.</li>
                      </ul>
                      <a
                        href="project-details-v1.html"
                        class="btn-eight icon-link"
                      >
                        <span class="text">Full Case Study</span>
                        <div
                          class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
                        >
                          <i class="bi bi-arrow-right"></i>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-6 d-flex">
                      <div
                        class="media-wrapper ms-auto me-auto w-100 d-flex align-items-center justify-content-center position-relative"
                        style="background-image: url(images/media/img_02.jpg)"
                      >
                        <a
                          class="fancybox rounded-circle video-icon tran3s text-center d-flex align-items-center justify-content-center"
                          data-fancybox=""
                          href="https://www.youtube.com/embed/aXFSJTjVjw0"
                        >
                          <img
                            src="{% static 'assets/images/icon/icon_29.svg' %}"
                            alt=""
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="true"
                  aria-controls="collapseThree"
                >
                  3. Digital Transformation Roadmap
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse show"
                data-bs-parent="#accordionOne"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h6>Aproach</h6>
                      <p class="mb-50">
                        Consultants specializing in strategy support
                        organizations in achieving competitive excellence
                        through deliberate.
                      </p>
                      <h6>FINAL results</h6>
                      <ul class="style-none pt-20 pb-30">
                        <li>Expanded investment via Innovative Solutions.</li>
                        <li>
                          Improving risk management with advanced analytics.
                        </li>
                        <li>Grow profit, enhanced clients satisfaction.</li>
                      </ul>
                      <a
                        href="project-details-v1.html"
                        class="btn-eight icon-link"
                      >
                        <span class="text">Full Case Study</span>
                        <div
                          class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
                        >
                          <i class="bi bi-arrow-right"></i>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-6 d-flex">
                      <div
                        class="media-wrapper ms-auto me-auto w-100 d-flex align-items-center justify-content-center position-relative"
                        style="background-image: url(images/media/img_16.jpg)"
                      >
                        <a
                          class="fancybox rounded-circle video-icon tran3s text-center d-flex align-items-center justify-content-center"
                          data-fancybox=""
                          href="https://www.youtube.com/embed/aXFSJTjVjw0"
                        >
                          <img
                            src="{% static 'assets/images/icon/icon_29.svg' %}"
                            alt=""
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.accordion-style-two -->
        </div>
      </div>

      <div class="section-btn sm-mt-40">
        <a
          href="project-v2.html"
          class="btn-nine rounded-circle d-inline-flex align-items-center justify-content-center tran3s"
          ><i class="bi bi-arrow-up-right"></i
        ></a>
      </div>
    </div>
  </div>
  <img
    src="{% static 'assets/images/lazy.svg' %}"
    data-src="{% static 'assets/images/shape/shape_06.svg' %}"
    alt=""
    class="lazy-img shapes shape_01"
  />
  <img
    src="{% static 'assets/images/lazy.svg' %}"
    data-src="{% static 'assets/images/shape/shape_06.svg' %}"
    alt=""
    class="lazy-img shapes shape_02"
  />
</div>
