{% load static %}
<div class="footer-two">
  <div class="container">
    <div class="bg-wrapper position-relative">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-3 col-lg-4 footer-intro mb-30">
            <div class="logo mb-35 md-mb-20">
              <a href="/" class="d-flex align-items-center">
                <img
                  src="{% static 'assets/images/fav-icon/icon.png' %}"
                  alt=""
                />
                <span class="text-md fw-600 text-dark">GreenAware</span>
              </a>
              <p class="lh-sm mb-40 md-mb-20">{{ site_info.address }}</p>
            </div>
            <!-- logo -->
          </div>
          <div class="col-lg-2 col-sm-4 mb-20">
            <h5 class="footer-title">Pages</h5>
            <ul class="footer-nav-link style-none">
              <li><a href="../">Home</a></li>
              <li><a href="../pricing">Pricing Plan</a></li>
              <li><a href="../marketplace">MarketPlace</a></li>
              <li><a href="../API">API</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-4 mb-20">
            <h5 class="footer-title">Learn About Us</h5>
            <ul class="footer-nav-link style-none">
              <li><a href="../about-us">About us</a></li>
              <li><a href="../#faq">FAQ’s</a></li>
              <li><a href="../contact-us">Contact</a></li>
            </ul>
          </div>
          <div class="col-xxl-2 col-lg-3 col-sm-4 mb-20">
            <h5 class="footer-title">Company</h5>
            <ul class="footer-nav-link style-none">
              <li>
                <a href="../terms-and-conditions">Terms of use</a>
              </li>
              <li><a href="../terms-and-conditions">Terms & conditions</a></li>
              <li><a href="../privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="copyright text-center">Copyright @2024 GreenAware inc.</div>
      </div>
      <img
        src="{% static 'assets/images/lazy.svg' %}"
        data-src="{% static 'assets/images/shape/shape_06.svg' %}"
        alt=""
        class="lazy-img shapes shape_01"
      />
      <img
        src="{% static 'assets/images/lazy.svg' %}"
        data-src="{% static 'assets/images/shape/shape_06.svg' %}"
        alt=""
        class="lazy-img shapes shape_02"
      />
    </div>
    <!-- /.bg-wrapper -->
  </div>
</div>
