<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activate Your Account</title>
  </head>
  <body>
    <h2>Activate Your Account</h2>
    <p>
      Welcome to our platform! Please click the link below to activate your
      account:
    </p>
    <p><a href="{{ activation_link }}">Activate Now</a></p>
    <p>
      If you have any questions, feel free to contact us at support@example.com.
    </p>
    <p>Thank you!</p>
  </body>
</html>
