{% extends 'includes/base.html' %} {% block content %} {% load static %}

<div class="block-feature-twelve position-relative pt-150 lg-pt-80 lg-pb-80">
  <div class="checkout-section pt-50 light-bg lg-pt-200 pb-100 sm-pb-50">
    <div class="container">
      <!-- /.checkout-toggle-area -->
      <form
        id="signupForm"
        action=""
        method="POST"
        enctype="application/json"
        class="checkout-form"
      >
        {% csrf_token %} {% include 'authentication/form-response.html' %}
        <div class="row">
          <div class="col-lg-7">
            <h2 class="main-title">Add A New Observation</h2>
            <div class="row">
              <div class="col-12">
                <input
                  type="hidden"
                  name="user_id"
                  value="{{user_data.user_id}}"
                />
                <input
                  type="text"
                  required
                  name="w3w_address"
                  placeholder="W3W Address e.g River.Ocean.Lake"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date">When will this observation be?*</label>
                  <input
                    type="date"
                    name="date"
                    required
                    class="single-input-wrapper"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date">What time of the day?*</label>
                  <input
                    type="time"
                    name="time"
                    required
                    class="single-input-wrapper"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <input
                  required
                  type="number"
                  name="temperature_land_surface"
                  placeholder="Temperature Land Surface (deg celsius)*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-6">
                <input
                  required
                  type="number"
                  name="temperature_sea_surface"
                  placeholder="Temperature Sea Surface (deg celsius)*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="humidity"
                  placeholder="Humidity*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="wind_speed"
                  placeholder="Wind Speed*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="wind_direction"
                  placeholder="Wind Direction*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="precipitation"
                  placeholder="Precipitation*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="haze"
                  placeholder="Haze*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="text"
                  name="timezone_offset"
                  placeholder="Timezone (GMT+0)*"
                  class="single-input-wrapper"
                />
              </div>

              <div class="col-lg-6">
                <select name="weather_id" class="theme-select-menu">
                  <option selected disabled>Weather Note</option>
                  {% for weather_note in weather_notes %}
                  <option value="{{ weather_note.id }}">
                    {{ weather_note.main|title }} -
                    <span>{{ weather_note.description|title }}</span>
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn-ten tran3s w-100">Submit Observation</button>
            <!-- /.user-profile-data -->
          </div>
          <!-- /.col- -->

          <div class="col-xxl-4 col-lg-5 ms-auto">
            <div class="order-confirm-sheet md-mt-60">
              <div class="order-review">
                <h2 class="main-title">Upload A Bulk Observation</h2>
                <table class="product-review"></table>

                <p class="policy-text">
                  Your personal data will be use for your order, support your
                  experience through this website & for other purpose described
                  in our privacy policy
                </p>
                <div class="agreement-checkbox">
                  <input type="checkbox" id="agreement" />
                  <label for="agreement"
                    >I have read and agree to the website terms and
                    conditions*</label
                  >
                </div>
                <!-- /.agreement-checkbox -->

                <button class="btn-ten tran3s w-100">
                  Add Bulk Observation
                </button>
              </div>
              <!-- /.order-review -->
            </div>
            <!-- /.order-confirm-sheet -->
          </div>
        </div>
        <!-- /.row -->
      </form>
      <!-- /.checkout-form -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.checkout-section -->

  {% endblock %}
</div>
