{% extends 'includes/base.html' %} {% block content %} {% load static %}

<div class="block-feature-twelve position-relative pt-150 lg-pt-80 lg-pb-80">
  <div class="checkout-section pt-50 light-bg lg-pt-200 pb-100 sm-pb-50">
    <div class="container">
      <!-- /.checkout-toggle-area -->
      {% include 'authentication/form-response.html' %}
      <div class="row">
        <div class="col-12">
          <form
            id="signupForm"
            action=""
            method="POST"
            enctype="application/json"
            class="checkout-form"
          >
            {% csrf_token %}
            <h2 class="main-title">Edit Observation</h2>
            <div class="row">
              <div class="col-12">
                <input
                  type="hidden"
                  name="user_id"
                  value="{{user_data.user_id}}"
                />
                <input
                  type="text"
                  readonly
                  name="w3w_address"
                  value="{{ observation.0.w3w_address }}"
                  placeholder="W3W Address e.g River.Ocean.Lake"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date">When will this observation be?*</label>
                  <input
                    type="date"
                    value="{{ observation.0.date }}"
                    name="date"
                    required
                    class="single-input-wrapper"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date">What time of the day?*</label>
                  <input
                    type="time"
                    name="time"
                    value="{{ observation.0.time }}"
                    min="00:00:00"
                    max="23:59:59"
                    placeholder="HH:MM:SS"
                    step="1"
                    required
                    class="single-input-wrapper"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <input
                  required
                  type="number"
                  value="{{ observation.0.temperature_land_surface }}"
                  name="temperature_land_surface"
                  placeholder="Temperature Land Surface (deg celsius)*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-6">
                <input
                  required
                  type="number"
                  name="temperature_sea_surface"
                  value="{{ observation.0.temperature_sea_surface }}"
                  placeholder="Temperature Sea Surface (deg celsius)*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="humidity"
                  value="{{ observation.0.humidity }}"
                  placeholder="Humidity*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="wind_speed"
                  value="{{ observation.0.wind_speed }}"
                  placeholder="Wind Speed*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="wind_direction"
                  value="{{ observation.0.wind_direction }}"
                  placeholder="Wind Direction*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="precipitation"
                  value="{{ observation.0.precipitation }}"
                  placeholder="Precipitation*"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="number"
                  name="haze"
                  placeholder="Haze*"
                  value="{{ observation.0.haze }}"
                  class="single-input-wrapper"
                />
              </div>
              <div class="col-lg-3">
                <input
                  required
                  type="text"
                  value="{{ observation.0.timezone_offset }}"
                  name="timezone_offset"
                  placeholder="Timezone (GMT+0)*"
                  class="single-input-wrapper"
                />
              </div>

              <div class="col-lg-6">
                <select name="weather_id" class="theme-select-menu">
                  <option selected disabled>
                    {{observation.0.weather_description|title}}
                  </option>
                  {% for weather_note in weather_notes %}
                  <option value="{{ weather_note.id }}">
                    {{ weather_note.main|title }} -
                    <span>{{ weather_note.description|title }}</span>
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn-ten tran3s w-100">Update  Observation</button>
          </form>
          <!-- /.user-profile-data -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->

      <!-- /.checkout-form -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.checkout-section -->

  {% endblock %}
</div>
