{% extends 'includes/base.html' %} {% block content %} {% load static %}

<div class="block-feature-twelve position-relative pt-150 lg-pt-80 lg-pb-80">
  <div class="checkout-section pt-50 light-bg lg-pt-200 pb-100 sm-pb-50">
    <div class="container">
      <!-- /.checkout-toggle-area -->
      <div class="row">
        {% include 'authentication/form-response.html' %}
        <div class="col-lg-6 ms-auto">
          <form
            action="/update-profile/"
            method="POST"
            enctype="application/json"
            class="checkout-form"
          >
            {% csrf_token %}
            <div class="order-confirm-sheet md-mt-60">
              <div class="order-review">
                <button class="btn btn-success w-100">
                  <h4 class="text-white p-4">Update Profile Info</h4>
                </button>
                <!-- /.product-review -->
                <div class="payment-option">
                  <div class="row">
                    <div class="col-12 form-group mt-20 mb-5">
                      <label>First Name*</label>
                      <input
                        type="text"
                        value="{{ user_data.first_name }}"
                        name="first_name"
                        class="form-control form-control-lg"
                      />
                    </div>
                    <input
                      type="hidden"
                      name="user_id"
                      value="{{ user_data.user_id }}"
                    />
                    <div class="col-12 form-group mt-5">
                      <label>Last Name*</label>
                      <input
                        required
                        type="text"
                        class="form-control form-control-lg"
                        name="last_name"
                        value="{{ user_data.last_name }}"
                      />
                    </div>
                  </div>
                </div>

                <button
                  type="submit"
                  class="mt-60 btn btn-success btn-lg tran3s w-100"
                >
                  Update Account Information
                </button>
              </div>
              <!-- /.order-review -->
            </div>
            <!-- /.order-confirm-sheet -->
          </form>
        </div>
        <div class="col-lg-6 ms-auto">
          <form action="" class="checkout-form">
            {% csrf_token %}
            <div class="order-confirm-sheet md-mt-60">
              <div class="order-review">
                <button class="btn-ten tran3s w-100 w-100">
                  <h4 class="text-white p-4">Change Password</h4>
                </button>

                <!-- /.product-review -->
                <div class="payment-option">
                  <div class="row">
                    <div class="col-12 form-group mt-20 mb-5">
                      <label>Email*</label>
                      <input
                        type="email"
                        name="email_address"
                        class="form-control form-control-lg"
                        placeholder="chris@gmail.com"
                      />
                    </div>
                    <div class="col-12 form-group mt-5">
                      <label>Password*</label>
                      <input
                        type="password"
                        placeholder="Enter Password"
                        class="form-control form-control-lg"
                        name="password"
                      />
                    </div>
                    <div class="col-12">
                      <div
                        class="agreement-checkbox d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <input type="checkbox" id="remember" />
                          <label for="remember">Keep me logged in</label>
                        </div>
                      </div>
                      <!-- /.agreement-checkbox -->
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn-ten tran3s w-100">
                  Change Password
                </button>
              </div>
              <!-- /.order-review -->
            </div>
            <!-- /.order-confirm-sheet -->
          </form>
        </div>
      </div>
      <!-- /.row -->
      <!-- /.checkout-form -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.checkout-section -->

  {% endblock %}
</div>
