{% extends 'includes/base.html' %} {% block content %} {% load static %}

<div
  class="block-feature-twelve position-relative pt-150 lg-pt-80 pb-180 lg-pb-80"
>
  <div class="container">
    <div class="row gx-xl-5">
      {% include 'components/base/user-pane.html' %}
    </div>
  </div>
  <img
    src="{% static 'assets/images/lazy.svg' %}"
    data-src="{% static 'assets/images/shape/shape_45.svg' %}"
    alt=""
    class="lazy-img shapes shape_01"
  />

  <div class="team-details light-bg border-top pt-20 lg-pt-80" id="profile">
    <div class="container">
      <div class="bg-wrapper">
        <div class="row">
          <div class="col-lg-4">
            <div class="member-img m-auto justify-content-center text-center">
              <i
                style="font-size: 150px; color: rgb(236, 235, 235)"
                class="bi bi-person-vcard-fill me-auto"
              ></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="pt-45 pb-45 ps-xl-4 ps-lg-0 ps-3 pe-xl-4 pe-lg-3 pe-3 border-right"
            >
              <h2 class="name fw-bold">
                {{user_data.first_name|title}} {{user_data.last_name|title}}
              </h2>
              <div class="post">
                {{site_info.title}} API {{user_data.user_role|title}}
                <small>
                  {% if not user_data.is_active %}
                  <span style="color: red">(Deactivated)</span>
                  {% else %}
                  <span style="color: green">(Active)</span>
                  {% endif %}
                </small>
              </div>
              <hr />
              <table class="w-100 lg-mt-20">
                <tr>
                  <td>Role:</td>
                  <td>{{user_data.user_role|title}}</td>
                </tr>

                <tr>
                  <td>Email:</td>
                  <td>
                    {{user_data.email|lower}}
                    <p>
                      <sub>
                        {% if not user_data.is_verified %}
                        <span style="color: red">Not Verified</span>
                        {% else %}
                        <span style="color: green">Verified</span>
                        {% endif %}
                      </sub>
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="pt-45 pb-45 ps-xl-4 ps-lg-0 ps-3 pe-xl-4 pe-lg-0 pe-3">
              <h3>Details</h3>

              <div class="social-share pt-35">
                <ul class="style-none d-flex align-items-center">
                  <li>
                    <a href="#">
                      <i class="bi bi-pencil-fill"></i>
                      Update Account Information
                    </a>
                  </li>
                </ul>
                <ul class="style-none d-flex align-items-center">
                  <li>
                    <a href="#">
                      <i class="bi bi-fingerprint"></i>
                      Change Password
                    </a>
                  </li>
                </ul>
                {% if user_data.user_role == 'observer' %}
                <a href="../observations" class="btn-nineteen tran3s mt-10">
                  View My Observation
                </a>
                {% else %}
                <a href="../my-services" class="btn-nineteen tran3s mt-10">
                  View API Key
                </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% if user_data.user_role == 'observer' %}
          <div
            class="alert alert-success alert-dismissible fade show text-center"
            role="alert"
          >
            <div class="line"></div>
            Hello <strong>{{ user_data.first_name|title }},</strong> You are
            logged in as an <b>Observer</b> ||| Ensure the validity of all
            information submitted
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
