{% extends 'includes/base.html' %} {% block content %} {% load static %}
<div style="margin-top: 150px" class="container">
  <div class="col-lg-10 col-sm-12 m-auto">
    <div class="card m-5">
      <div class="user-data-form modal-content mt-5">
        <div class="form-wrapper m-auto">
          <div class="tab-content mt-30">
            <div class="tab-pane show active" role="tabpanel" id="fc1">
              <div class="text-center">
                <h2>Hi, Welcome to {{ site_info.title }}</h2>
                <p>Already have an account? <a href="/login">Login Now</a></p>
              </div>

              <form
                id="registration"
                action="/register-user/"
                enctype="application/json"
                method="POST"
              >
                {% include 'authentication/form-response.html' %}
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="input-group-meta position-relative mb-25">
                      <label>First Name*</label>
                      <input
                        required
                        type="text"
                        name="first_name"
                        placeholder="Chris"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="input-group-meta position-relative mb-25">
                      <label>Last Name*</label>
                      <input
                        required
                        type="text"
                        name="last_name"
                        placeholder="Emetoh"
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group-meta position-relative mb-25">
                      <label>Email*</label>
                      <input
                        type="email"
                        name="email_address"
                        placeholder="chris@gmail.com"
                      />
                    </div>
                  </div>

                  <div class="col-12 col-lg-6">
                    <div class="input-group-meta position-relative mb-20">
                      <label>Password*</label>
                      <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter Password"
                        class="pass_log_id"
                      />
                      <span class="placeholder_icon"
                        ><span class="passVicon"
                          ><img
                            src="{% static 'assets/images/icon/icon_13.svg' %}"
                            alt="" /></span
                      ></span>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="input-group-meta position-relative mb-20">
                      <label>Retype Password*</label>
                      <input
                        type="password"
                        id="retype_password"
                        placeholder="Retype Password"
                        class="pass_log_id"
                      />
                      <span class="placeholder_icon"
                        ><span class="passVicon"
                          ><img
                            src="{% static 'assets/images/icon/icon_13.svg' %}"
                            alt="" /></span
                      ></span>
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="agreement-checkbox d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <input type="checkbox" id="remember" name="user_role" />
                        <label for="remember" class="text-danger">
                          Check this Box, if you are registering as an
                          <b>Observer</b>
                        </label>
                      </div>
                    </div>
                    <!-- /.agreement-checkbox -->
                  </div>

                  <div class="col-12 mt-4">
                    <div
                      class="agreement-checkbox d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <input type="checkbox" id="terms" name="terms" />
                        <label for="terms" class="">
                          I agree with
                          <a href="../privacy-policy" class="text-danger"
                            >Privacy Policy</a
                          >,
                          <a href="../terms-and-conditions" class="text-danger"
                            >Terms and conditions</a
                          >
                          of sale and Websites terms and conditions of use
                        </label>
                      </div>
                    </div>
                    <!-- /.agreement-checkbox -->
                  </div>
                  <div class="col-12">
                    <button
                      id="submit"
                      type="submit"
                      class="btn-four w-100 tran3s d-block mt-20"
                    >
                      Register
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="d-flex align-items-center mt-30 mb-10">
            <div class="line"></div>
            <span class="pe-3 ps-3 fs-6">GreenAware</span>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("registration")
    .addEventListener("submit", function (event) {
      var password = document.getElementById("password").value;
      var retypePassword = document.getElementById("retype_password").value;

      if (password !== retypePassword) {
        document.getElementById("error").innerText = "Password Don't Match";
        event.preventDefault(); // Prevent form submission
      }

      if (!document.getElementById("terms").checked) {
        document.getElementById("error").innerText =
          "Please Accept the Terms and Conditions";
        document.getElementById("submit").ariaDisabled;
        event.preventDefault(); // Prevent form submission
      }
    });
</script>

{% endblock %}
