{% load static %}
<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-centered">
    <div class="container">
      <div class="user-data-form modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="form-wrapper m-auto">
          <ul class="nav nav-tabs border-0 w-100" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#fc1"
                role="tab"
              >
                Login
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#fc2"
                role="tab"
              >
                Signup
              </button>
            </li>
          </ul>
          <div class="tab-content mt-30">
            <div class="tab-pane show active" role="tabpanel" id="fc1">
              <div class="text-center mb-20">
                <h2>Hi, Welcome Back!</h2>
                <p>Still don't have an account? <a href="#">Sign up</a></p>
              </div>
              <form action="#">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group-meta position-relative mb-25">
                      <label>Email*</label>
                      <input type="email" placeholder="chris@gmail.com" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group-meta position-relative mb-20">
                      <label>Password*</label>
                      <input
                        type="password"
                        placeholder="Enter Password"
                        class="pass_log_id"
                      />
                      <span class="placeholder_icon"
                        ><span class="passVicon"
                          ><img
                            src="{% static 'assets/images/icon/icon_13.svg' %}"
                            alt="" /></span
                      ></span>
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="agreement-checkbox d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <input type="checkbox" id="remember" />
                        <label for="remember">Keep me logged in</label>
                      </div>
                      <a href="#">Forget Password?</a>
                    </div>
                    <!-- /.agreement-checkbox -->
                  </div>
                  <div class="col-12">
                    <button class="btn-four w-100 tran3s d-block mt-20">
                      Login
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" role="tabpanel" id="fc2">
              <div class="text-center mb-20">
                <h2>Register</h2>
                <p>Already have an account? <a href="#">Login</a></p>
              </div>
              <form action="#">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group-meta position-relative mb-25">
                      <label>Name*</label>
                      <input type="text" placeholder="Chris Emetor" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group-meta position-relative mb-25">
                      <label>Email*</label>
                      <input type="email" placeholder="chris@gmail.com" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group-meta position-relative mb-20">
                      <label>Password*</label>
                      <input
                        type="password"
                        placeholder="Enter Password"
                        class="pass_log_id"
                      />
                      <span class="placeholder_icon"
                        ><span class="passVicon"
                          ><img
                            src="{% static 'assets/images/icon/icon_13.svg' %}"
                            alt="" /></span
                      ></span>
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="agreement-checkbox d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <input type="checkbox" id="remember2" />
                        <label for="remember2"
                          >By hitting the "Register" button, you agree to the
                          <a href="#">Terms conditions</a> &
                          <a href="#">Privacy Policy</a></label
                        >
                      </div>
                    </div>
                    <!-- /.agreement-checkbox -->
                  </div>
                  <div class="col-12">
                    <button class="btn-four w-100 tran3s d-block mt-20">
                      Sign up
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.tab-pane -->
          </div>

          <div class="d-flex align-items-center mt-30 mb-10">
            <div class="line"></div>
            <span class="pe-3 ps-3 fs-6">GreenAware</span>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
